#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C00707;
    height: 5vh;
    width: 100vw;
    color: white;
    text-align: center;
    margin-top: 65px;
}

#hanger {
    margin: 50px 0px;
    padding: 30px;
    border: #134E8E solid 6.7px;
    
}

#hanger-img {
    width: 470px;
    height: 380px;
    object-fit: cover;
}

#play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4400;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;

    cursor: pointer;

    transition-duration: 0.22s;
}

.hidden-word-text {
    font-size: 70px;
    color:#134E8E;
}

#alert-box {
    top: 25vh;
    position: fixed;
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: rgb(42, 96, 245);
    background-image: url("resources/index/bwah.jpg");

    text-align: center;
    font-size: 90px;

    opacity: 0;
    transition-duration: 1s;

    pointer-events: none;
}

#hidden-word {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4400;
    width: 50vw;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

#guessed-letters {
    color: #134E8E;
    border: #C00707 solid 6.7px;
    font-size: 25px;
    margin-bottom: 50px;
    padding: 15px;
}

#win-text {
    color: rgb(0, 100, 0);
    margin-top: 50px;
}

#loser-text {
    color: rgb(100, 0, 0);
    margin-top: 50px;
}

#submit {
    transition-duration: 0.22s;
    cursor: pointer;
}

#guess {
    background-color: rgb(243, 43, 77);
}

.font {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB33F;
}

#submit:hover {
    background-color: #f05e5e;
}

#submit:active {
    background-color: rgb(47, 211, 47);
}